# Build and temporary files
*.o
*.log
*.npy
*.tmp
*.bak
__pycache__/
*.py[cod]
.DS_Store

# IDE/project files
.vscode/
.idea/
*.swp

# Environment and models
env/
*.onnx
*.pth


*parquet
*.root
*.dat
*.pcm
runlist*
runs*
elapsed*
out*
predicted**.txt

testDrogonApp/serverData/info_tables/*
testDrogonApp/serverData/histLists/*
testDrogonApp/serverData/nn_input/*
testDrogonApp/serverData/qaHists/*
testDrogonApp/serverData/function_prediction/prediction/*
