# Build and temporary files
*.o
*.log
*.npy
*.tmp
*.bak
__pycache__/
*.py[cod]
.DS_Store

# IDE/project files
.vscode/
.idea/
*.swp

# Environment and models
env/
*.onnx
*.pth


*parquet
*.root
*.dat
*.pcm
*.pdf
runlist*
runs*
elapsed*
out*
predicted**.txt

backend/serverData/info_tables/*
backend/serverData/histLists/*
backend/serverData/nn_input/*
backend/serverData/qaHists/*
backend/serverData/function_prediction/prediction/*
backend/faiss_store/*
